{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Bienvenido</h3>
        </div>
        <div class="panel-body">
           <p>Bienvenido al calendario de eventos</p>
            <a class="btn btn-success" href="/calendario/web/app_dev.php/event/create">Crear Evento</a>
            <a class="btn btn-success" href="/calendario/web/app_dev.php/category/create">Crear Categoria</a>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
